{% if primary_mailserver == True %}
rforberger@mail01.forberger-online.de	  	ronny.forberger@forberger-online.de
rforberger@mail01.public.forberger-online.de	ronny.forberger@forberger-online.de
root@mail01.forberger-online.de	  		ronny.forberger@forberger-online.de
root@mail01.public.forberger-online.de		ronny.forberger@forberger-online.de

rforberger@forberger-online.de          	ronny.forberger@forberger-online.de
root@forberger-online.de        		ronny.forberger@forberger-online.de
{% endif %}

