/localhost/			ACCEPT
/localhost.localdomain/		ACCEPT
/{{ ansible_hostname }}/			ACCEPT
/ronnyforberger.de/		ACCEPT
/.*\.ronnyforberger\.de/	ACCEPT
/forberger-online.de/		ACCEPT
/.*\.forberger-online\.de/	ACCEPT
/public\.thesrv\.de/    ACCEPT
/thesrv\.de/    ACCEPT
/ronnyforberger\.business/  ACCEPT

